<div class="page-member">
    <div class="ng-header header-shadow"></div>
    <div class="member-wrap row">
        <div class="pure-g">
            <div class="pure-u-1-5">
                <div key="key" class="ng-sidebar"></div>
            </div>
            <div class="pure-u-4-5">
                <div class="zct-content main-container">
                    <h2 class="title">我的知产通</h2>
                    <div ng-if="account" class="zct-info"><span class="info-label">当前余额：</span><span class="info-content">{{account.balance}}元</span></div>
                    <div ng-if="items" class="records">
                        <h3> 账号明细</h3>
                        <div class="tabbar">
                            <ul class="tabbar-nav-list">
                                <li ng-style="{'width':100/items.length + '%'}" ng-repeat="item in items" ng-click="setItem(item)"
                                    class="tabbar-nav-item {{item.value === selected.value ? 'selected' : ''}}" title="{{item.label}}">{{item.label}}
                                </li>
                            </ul>
                        </div>
                        <div class="tabbar">
                            <ul class="tabbar-nav-list">
                                <li ng-click="setType('')" class="tabbar-nav-item {{tradeType === '' ? 'selected' : ''}}">全部订单</li>
                                <li ng-click="setType(0)" class="tabbar-nav-item {{tradeType === 0 ? 'selected' : ''}}">充值</li>
                                <li ng-click="setType(1)" class="tabbar-nav-item {{tradeType === 1 ? 'selected' : ''}}">消费</li>
                                <li ng-click="setType(2)" class="tabbar-nav-item {{tradeType === 2 ? 'selected' : ''}}">退款</li>
                            </ul>
                        </div>
                        <div ng-if="records.length < 1 && !noExist" class="ng-empty" title="'没有数据'"></div>
                        <div ng-if="noExist" class="ng-empty" title="'账户不存在'"></div>
                        <table ng-if="records.length > 0" class="pure-table pure-table-horizontal">
                            <thead>
                            <tr>
                                <th class="td-img">时间</th>
                                <th class="td-product">交易流水号</th>
                                <th class="td-price">金额</th>
                                <th class="td-num">用途</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in records">
                                <td>{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{item.tradeNo}}</td>
                                <td><span style="color: red" ng-if="item.tradeType === '1'">- ¥{{item.amount}}</span><span style="color: green" ng-if="item.tradeType === '0' || item.tradeType === '2'">+ ¥{{item.amount}}</span></td>
                                <td>
                                    <span ng-if="item.tradeType === '0'" style="color: green">充值</span>
                                    <span ng-if="item.tradeType === '1'" style="color: red">消费</span>
                                    <span ng-if="item.tradeType === '2'" style="color: green">退款</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="notice" colspan="5">
                                    <span class="notice-label">提示：</span>
                                    <ul class="notice-list">
                                        <li class="notice-item">1、您的账户余额可用来支付专利续费和商标续展业务。</li>
                                        <li class="notice-item">2、系统仅显示您两年之内的余额明细，更早之前的信息不再显示。</li>
                                        <li class="notice-item">3、为了保障您的账户余额安全，如需提现，请致电客服进行申请和审核。</li>
                                        <li class="notice-item">电话：0755-86561913</li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ng-page" page="page.page" total="page.totalPages"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-footer"></div>
</div>
