@import "../../../../sass/variables";

.zct-content {

  .tabbar {
    .tabbar-nav-list {
      .tabbar-nav-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        padding: 20px 5px !important;
        background: #ebeef5;

        &.selected {
          background: #fff;
        }
      }
    }
  }

  .zct-info {
    padding: 25px 20px;
    background-color: $color-raw;
    margin: 40px 0 30px;
    span {
      display: inline-block;
      vertical-align: middle;
      &.info-label {
        font-size: 14px;
        color: $color-full;
        line-height: 20px;
        margin-right: 10px;
      }
      &.info-content {
        font-size: 20px;
        line-height: 20px;
        color: $color-primary;
      }
    }
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
  }

  .pure-table {
    margin-top: 20px;

    td {
      padding: 20px !important;

      &.notice {
        .notice-label, .notice-list {
          display: inline-block;
          vertical-align: top;
        }

        .notice-list {
          color: $color-medium-well;
          margin-left: 10px;

          li.notice-item {
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
