
<div class="index-content">
    <div class="owl-carousel">
        <div href="javascript:;"
             class="carousel-item item"
             ng-style="{'background-image': 'url(' + img.proimg + ')'}">
        </div>
    </div>
</div>
<div class="synopsis-content">
    <div class="card">
        <div class="card-left">
            <div class="card-margin">
                <h2 class="card-title">
                    支付信息<span>首页 > 会员中心 > 支付信息</span>
                </h2>
                <div class="hr"></div>

                <div class="card-content">
                    <div class="hall-margin">
                        <div class="order-success">
                            <div class="icon-success">
                                <img src="/images/service/success.png"/></div>
                            <div class="success-word">
                                <p class="amount">订单提交成功，应付金额：<em>{{detail.totalAmount}}</em>元</p>
                                <p class="num">订单编号：{{detail.orderNo}}，购买服务：科学会馆预订</p>
                            </div>
                        </div>

                        <div class="pay-type" ng-if="detail.status === 2 && detail.isPaid === 0">
                            <div class="wechat-pay {{active ? 'active' : ''}}" ng-click="wechatPay(detail.orderNo)">
                                <img ng-src="/images/service/wechat-pay.png"/>
                                <span>微信支付</span>
                            </div>
                            <div class="offline-pay {{show ? 'active' : ''}}" ng-click="offlinePay()">
                                <img src="/images/service/offline-pay.png"/>
                                <span>线下支付</span>
                            </div>
                        </div>

                        <div class="pure-g" ng-if="show"
                             style="display: flex;justify-content: center;margin-top: 40px">
                            <div class="pure-u-1-4" style="margin-right: 20px">
                                <input id="paymentA"
                                       name="paymentA"
                                       class="block"
                                       ng-model="params.paymentA"
                                       type="hidden">
                                <div style="background-image: url('{{params.paymentA | thumb}}')"
                                     class="dropzone"
                                     options="license.A.option"
                                     callbacks="license.A.callback"
                                     ng-dropzone></div>
                            </div>

                            <span>
                                <img src="/images/service/add-p.png"
                                     height="35"
                                     width="35"
                                     style="cursor: pointer"
                                     ng-if="add"
                                     ng-click="addPayment()"/>
                            </span>

                            <div class="pure-u-1-4" ng-if="paymentShow" style="margin-right: 20px">
                                <input id="paymentB"
                                       name="paymentB"
                                       class="block"
                                       ng-model="params.paymentB"
                                       type="hidden">
                                <div style="background-image: url('{{params.paymentB | thumb}}')"
                                     class="dropzone"
                                     options="license.B.option"
                                     callbacks="license.B.callback"
                                     ng-dropzone></div>
                            </div>

                            <span>
                                <img src="/images/service/remove.png"
                                     height="35"
                                     width="35"
                                     ng-if="paymentShow"
                                     style="cursor: pointer"
                                     ng-click="hide()"/>
                            </span>
                        </div>

                        <div class="hall-form-group unit"
                             ng-if="show"
                             style="width: 100%;display: flex;justify-content: center;align-items: center;margin-top: 30px">
                            <label>支付时间：</label>
                            <input id="payTime"
                                   name="payTime"
                                   style="width: 420px!important;"
                                   autocomplete="off"
                                   class="laydate-icon"
                                   ng-click="payTime()"/>
                        </div>

                        <div class="form-controls" ng-if="show">
                            <button type="submit"
                                    ng-click="submit(detail.orderNo)"
                                    ng-if="show">提交
                            </button>
                        </div>

                        <div class="pay-code" ng-if="detail.status === 0 || detail.status === 1">
                            <p>等待后台客服人员确认</p>
                        </div>

                        <div class="pay-code" ng-if="active">
                            <qrcode ng-if="payCode" data="{{payCode}}" href="{{payCode}}" size="243"></qrcode>
                            <p>请用微信扫描二维码支付</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-right">
            <div class="card-margin">
                <div class="card-subtitle">
                    <img src="/images/service/unit.png" height="36" width="36"/>
                    <span>会员中心</span>
                </div>
                <ul>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/member/unit" class="active">{{type === 0 ? '个人信息' : '单位信息'}}</a></li>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/member/order/list">{{type === 0 ? '场馆登记记录' : '财务结算记录'}}</a></li>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/member/invoice/list">发票管理</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
