<div class="page-member">
    <div class="ng-header header-shadow"></div>
    <div class="member-wrap row">
        <div class="pure-g">
            <div class="pure-u-1-5">
                <div key="key" class="ng-sidebar"></div>
            </div>
            <div class="pure-u-4-5">
                <div class="message-content main-container">
                    <div class="title pure-g">
                        <div class="pure-u-1"><h2 class="title">消息中心</h2></div>
                    </div>
                    <div class="tabbar">
                        <ul class="tabbar-nav-list">
                            <li ng-click="isRead = ''"
                                class="tabbar-nav-item {{isRead === '' ? 'selected' : ''}}">全部消息
                            </li>
                            <li ng-click="isRead = '0'"
                                class="tabbar-nav-item {{isRead === '0' ? 'selected' : ''}}">未读消息
                            </li>
                            <li ng-click="isRead = '1'"
                                class="tabbar-nav-item {{isRead === '1' ? 'selected' : ''}}">已读消息
                            </li>
                        </ul>
                    </div>
                    <div class="list-control pure-g">
                        <div class="pure-u-1-2">
                            <div ng-selector data="statusList" value="status" class="ng-selector"></div>
                        </div>
                        <div class=" actions pure-u-1-2">
                            <a ng-click="read()" href="javascript:;">标记为已读</a><a ng-click="del()" class="del" href="javascript:;">删除</a>
                        </div>
                    </div>
                    <table ng-click="selected(message)" ng-if="messages.length > 0" ng-repeat="message in messages"
                           class="pure-table pure-table-bd pure-table-horizontal {{message.selected ? 'selected' : ''}}">
                        <thead>
                        <tr>
                            <th>状态消息</th>
                            <th style="text-align: right">{{message.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><i class="icons {{message.selected ? 'icons-square-check_fill' : 'icons-square'}}"></i> <span ng-bind-html="message.content | message"></span><a href="/member/order/item/{{message.businessCode}}">请点击查看订单详情</a> </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="messages.length < 1" class="ng-empty"></div>
                    <div ng-if="messages.length > 0" class="ng-page" page="page.page" total="page.totalPages"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-footer"></div>
</div>
