

<div class="index-content">
    <div class="owl-carousel">
        <div href="javascript:;"
             class="carousel-item item"
             ng-style="{'background-image': 'url(' + img.proimg + ')'}">
        </div>
    </div>
</div>
<div class="synopsis-content">
    <div class="card">
        <div class="card-left">
            <div class="card-margin">
                <h2 class="card-title">
                    场馆新闻<span>首页 > 场馆介绍 > 场馆新闻</span>
                </h2>
                <div class="hr"></div>

                <div class="trailer_content" ng-repeat="news in newsList">
                    <div class="trailer_logo">
                        <img src="/images/index/activity_1.png" ng-if="news.proimg"/>
                    </div>
                    <div class="trailer_word">
                        <h2>{{news.title}}</h2>
                        <span>{{news.synopsis}}</span>
                        <a class="look" href="#/venue/item/{{news.id}}">查看内容></a>
                    </div>
                </div>

                <div class="ng-page" page="page.page" total="page.totalPages" ng-if="newsList"></div>
            </div>
        </div>
        <div class="card-right">
            <div class="card-margin">
                <div class="card-subtitle">
                    <img src="/images/index/synopsis.png" height="36" width="36"/>
                    <span>场馆介绍</span>
                </div>
                <ul>
                    <li><div class="square"></div><a href="#/venue/synopsis">场馆简介</a></li>
                    <li><div class="square"></div><a href="#/venue/news" class="active">场馆新闻</a></li>
                    <li><div class="square"></div><a href="#/venue/system">场馆制度</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

