@import "../../../sass/variables";

.index-content {
  width: 1200px;
  margin: 0 auto;
  //background: #fff;
  position: relative;

  .banner {
    .owl-carousel {
      .carousel-item {
        height: 400px;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }

}

.announcement {
  width: 100%;
  height: 60px;
  border-radius: 3px;
  margin-top: 20px;
  background: #4C9DE4;

  img {
    top: 12px;
    left: 10px;
    position: relative;
    width:29px;
    height:26px;
  }

  span {
    left: 15px;
    top: 4px;
    position: relative;
    color: #fff;
    font-size: 14px;
    display: inline-block;
  }

  a{ text-decoration: none}

  .announcement_content {
    display: inline-block;
    top: 14px;
    left: 15px;
    position: relative;
    width: 90%;

    span {
      margin-right: 80px;
      height:30px;
    }
  }
}

.grids {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  .news {
    width: 62.5%;

    .information_content {
      margin-top: 10px;

      p {
        font-size: 14px;
        color: #333;
        line-height: 30px;

        em {
          font-style: normal;
          font-size: 12px;
          color: #999;
          margin-right: 10px;
        }

        span {
          color: #999;
          float: right;
        }
      }
    }

    .news_title {
      position: relative;
      top: -10px;
      left: 6px;
      font-weight: normal;
      font-size: 18px;
    }

    .more {
      float: right;
      margin-top: 12px;
      font-weight: normal;
      font-size: 12px;
      color: #999;
    }

    .newsBanner{
      h3{
        bottom: 0;
        position: absolute;
        width: 100%;
        opacity: 0.5;
        background: #000;
        color: #fff;
        height: 40px;
        font-size: 14px;
        font-weight: normal;
        padding: 8px 15px;
      }
    }

    .owl-carousel {
      .carousel-item {
        height: 350px !important;
        background-size: 100%;
      }

      .owl-dots {
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .owl-word {
      bottom: 40px;
      height: 40px;
      opacity: 0.5;
      left: 0;
      width: 100%;
      background: #000;
      position: relative;
      color: #fff;
      z-index: 1;

      p {
        padding: 8px 15px;
        font-size: 14px;
      }
    }
  }

  .synopsis {
    width: 35.5%;
    margin-left: 20px;

    .trailer_content {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative;

      .trailer_date {
        width: 60px;
        height: 40px;
        position: absolute;
        top: -5px;
        left: 0;
        background: #67ad37;

        em {
          font-size: 16px;
          color: #fff;
          text-align: center;
          display: block;
        }

        p {
          color: #fff;
          font-size: 12px;
          text-align: center;
          margin-top: -4px;
        }
      }

      .trailer_logo {
        margin-left: 5px;
        width: 110px;
        height: 110px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .trailer_word {
        width: calc(100% - 115px);
        height: 110px;
        margin-left: 10px;

        h2 {
          font-size: 14px;
        }

        span {
          color: #999;
          font-size: 12px;
          line-height: 20px;
          margin-top: 10px;
          display: block;
        }
      }
    }

    .synopsis_title {
      position: relative;
      top: -10px;
      left: 6px;
      font-weight: normal;
      font-size: 18px;
    }

    .more {
      float: right;
      margin-top: 12px;
      font-weight: normal;
      font-size: 12px;
      color: #999;
    }

    .owl-carousel {
      width: 90%;
      margin: 0 auto;

      .owl-dots {
        display: none;
      }

      .carousel-item {
        height: 268px !important;
        background-size: 100%;
      }

      .owl-nav {
        display: block;
        height: 0;

        button {
          position: absolute;
          font-size: 40px;
          top: 90px;
          color: #666;
          font-weight: 200;
          opacity: 0.5;

          &.owl-prev {
            left: -18px;
          }

          &.owl-next {
            right: -18px;
          }
        }
      }
    }

    i {
      display: flex;
      align-items: center;
      position: relative;
    }

    .synopsis_service {
      display: flex;
      flex-direction: row;

      a {
        text-decoration: none;
        width: 50%;
        height: 60px;
        border-radius: 5px;
        background: #20c8ed;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: relative;
          left: -20px;
        }

        em {
          color: #fff;
          font-style: normal;
          margin-left: -10px;
          font-size: 18px;
        }
      }
    }
  }
}


.index-search {
  margin-top: -60px;
  position: relative;
  z-index: 999;

  .search-form {
    font-size: 0;
    padding: 36px 220px 36px 80px;
    border-radius: 4px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

    .search-form-types {
      margin-bottom: 10px;

      li {
        display: inline-block;
        font-size: 18px;
        line-height: 20px;
        height: 20px;
        margin-right: 20px;

        .radio-label {
          display: inline-block;
          vertical-align: middle;
        }

        .radio-input {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;

          .radio-inner {
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: $color-empty;
            display: block;
            position: relative;
            border: 1px solid $color-medium;

            &:after {
              content: '';
              position: absolute;
              left: 50%;
              top: 50%;
              border-radius: 100%;
              background-color: $color-empty;
              width: 4px;
              height: 4px;
              transform: translate3d(-50%, -50%, 0);
            }
          }
        }

        &.radio-checked {
          .radio-input {
            .radio-inner {
              background: #409eff;
              border-color: #409eff;
            }
          }
        }
      }
    }

    .search-form-tags {
      margin-top: 10px;

      li {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        height: 20px;
        margin-right: 10px;
        color: $color-primary;

        &:first-child {
          margin-right: 20px;
        }

        a {
          text-decoration: none;
          color: #333;
        }
      }
    }

    .search-form-control {
      padding: 0 40px 0 15px;
      display: block;
      border: 4px solid $color-primary;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      input {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        font-size: 14px;
        height: 44px;
      }
    }

    .search-form-button {
      position: absolute;
      right: 80px;
      width: 140px;
      height: 44px;
      top: 66px;
      text-align: center;
      border: 4px solid $color-primary;
      color: $color-empty;
      background-color: $color-primary;
      font-size: 16px;
      line-height: 44px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-sizing: content-box;

      i {
        display: inline-block;
      }
    }
  }
}

.page-index {
  .section {

    .section-content {

      .section-content-item {
        padding: 30px 30px 60px;
        margin: 16px;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        color: $color-empty;
        cursor: pointer;

        h2 {
          font-size: 26px;
          line-height: 26px;
          margin: 0;
        }

        p {
          font-size: 14px;
          line-height: 22px;
          margin: 26px 0 0;
          height: 160px;
        }

        &.section-content-item-0 {
          background-image: url("../../../images/index/zct.png");
        }

        &.section-content-item-1 {
          background-image: url("../../../images/index/zcy.png");
        }

        &.section-content-item-2 {
          background-image: url("../../../images/index/kjb.png");
        }

        &.section-content-item-3 {
          background-image: url("../../../images/index/yyb.png");
        }

        &.section-content-item-4 {
          background-image: url("../../../images/index/cyb.png");
        }
      }

      .pure-u-1-2 {
        .section-content-item {
          padding: 70px 260px 80px 50px;
        }
      }

      .pure-u-1-3 {
        .section-content-item {
          padding: 50px 70px 100px 50px;
        }
      }
    }

    &.section-about {
      margin-top: 100px;

      .pure-u-3-4 {
        background-color: $color-raw;
      }

      .section-about-title {
        width: 290px;
        height: 220px;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .section-about-img {
        width: 290px;
        height: 480px;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .section-about-header {
        border-top: 1px solid $color-raw;
        border-right: 1px solid $color-raw;
        background-color: $color-empty;
        border-bottom: 2px solid $color-primary;

        .pure-u-1-3 {
          &:last-child {
            .section-about-header-item {
              border-right: 0;
            }
          }
        }

        .section-about-header-item {
          padding: 40px 20px 30px 30px;
          font-size: 0;
          border-right: 1px solid $color-raw;

          img, h2 {
            display: inline-block;
            vertical-align: middle;
          }

          h2 {
            font-size: 16px;
            margin: 0 0 0 20px;
          }

          p {
            font-size: 12px;
            line-height: 1;
            margin: 10px 0 0;
            color: $color-medium;
          }
        }
      }

      .section-about-content {
        padding: 70px 50px 0 60px;

        h2 {
          font-size: 24px;
          margin: 0 0 50px 0;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          margin: 25px 0 0;
        }
      }
    }

    &.section-advantage {
      margin-top: 100px;
      height: 465px;
      background-image: url("../../../images/index/advantage-bg.jpg");
      background-repeat: no-repeat;
      background-position: center center;

      .section-content {
        padding: 100px 0 0;

        .section-advantage-item {
          .value {
            color: $color-primary;

            em {
              font-size: 48px;
              font-weight: bold;
              font-style: normal;
            }

            sub {
              font-size: 24px;
              font-weight: bold;
              bottom: 0;
            }
          }

          .label {
            font-size: 16px;
            color: $color-medium-well;
          }

          p {
            font-size: 18px;
            margin-top: 80px;
          }
        }
      }
    }
  }
}







.body-bg{width:100%;height:534px; background: url("../../images/index/bg_content.png") center top no-repeat; position: absolute;left: 0;top:0;right:0;z-index: -1;}

.publicbox:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
.publicbox{margin: 0 auto;width:1200px; position: relative}
.publicbox.margintop{margin-top:20px;}

.bannerbox{width:100%;font-size:0;
  img{width:1200px;height: 560px;}
}

.header{width:100%;height:100px; position: absolute;top:0; background: rgba(255,255,255,0.6);

  .logo{position: absolute;left:10px;top:15px;font-size: 0;margin:0;
    img{width:270px;height: 70px;}
  }

  .date{padding-right:10px;line-height:40px;color:#666;text-align: right;}

  .nav{padding-left:310px;
    ul li{ display: inline-block;
      a{padding:0 15px;line-height: 40px; display: block;font-size:14px;color:#000; text-decoration: none}
      a:hover{color:#4C9DE4;}
    }
  }

  .user{position: absolute;top:40px;right:0;line-height: 40px;font-size:12px;color:#4C9DE4;
    a{margin:0 10px;color:#000; text-decoration: none}
    a:hover{color:#4C9DE4;}
  }

}

.roll-pic-news{float: left;width:500px;}
.roll-pic-news .owl-item {
  position: relative;

  h3 {
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 100px 0 10px;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.6)
  }
}
.roll-pic-news .owl-carousel .owl-dots{ text-align: right;bottom:9px;}

.title-public{padding-left:10px; background: url("../../images/index/bg_title.png") no-repeat;

  h2{line-height:30px;font-size:14px;color:#fff;}

}
.right-area{float:right;width:680px;}
.information_content {

  p {
    font-size: 14px;
    color: #333;
    line-height: 30px;
    height: 30px;
    display: block;

    em {
      font-style: normal;
      font-size: 12px;
      color: #999;
      margin-right: 10px;
    }

    span {
      color: #999;
      float: right;
      font-size:12px;
    }

    a{color:#000; text-decoration: none}
    a:hover{color:#4C9DE4}
  }

  &.notice{margin-top:10px;
    p {
      a {
        width: 70%;
        height: 30px;
        display: inline-block;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
      }
    }
  }
}
.news-hot{padding:15px 15%; text-align: center;height:86px;line-height:28px;font-size:18px;
  a{color:#000; text-decoration: none}
  a:hover{color:#4C9DE4}
}

.news-notice{float: left;width:500px;}

.review_images {
  margin-top:5px;

  .owl-carousel {
    padding: 10px 35px 0 35px;

    .carousel-item {
      width: 190px;
      height: 130px !important;
      margin: 0 5px 40px 5px;

      h3 {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
        color: #666;
        font-weight: normal;
      }
    }

    .owl-dots {
      display: none
    }

    .owl-nav {
      display: block;
      height: 0;

      button {
        position: absolute;
        font-size:30px;
        top: 65px;
        color: #666;
        font-weight: normal;
        width:30px;
        height:30px;
        line-height:30px;
        border-radius:50%;
        background: rgba(0,0,0,0.1);
        outline: none;

        &:focus{
          background: rgba(0,0,0,0.2);
          outline:0;
          height:30px;
        }
        &.owl-prev {
          left: 0;
        }

        &.owl-next {
          right: 0;
        }

        span{ position: relative;top:-2px;}
      }
    }
  }
}


.quick-menu{width:56px;padding:0 8px;background: #4C9DE4;border-radius:3px; position: fixed;top:40%;right:20px;

  a{padding:8px 5px;border-bottom: 1px solid #82BAEC; display: block; text-decoration:none; text-align: center; opacity: 0.6}
  i{width:24px;height:24px;font-size:0; display: inline-block}
  p{color:#fff;margin:0;line-height:14px;}
  a:hover{opacity:1}

}

.icon-reg{ background: url("../../images/index/icon_reg.png") no-repeat;}
.icon-login{ background: url("../../images/index/icon_login.png") no-repeat;}
.icon-search{ background: url("../../images/index/icon_search.png") no-repeat;}
.icon-apply{ background: url("../../images/index/icon_apply.png") no-repeat;}
