<div class="index-content">
    <div class="owl-carousel">
        <div href="javascript:;"
             class="carousel-item item"
             style="height: 560px"
             ng-style="{'background-image': 'url(' + img.proimg + ')'}">
        </div>
    </div>
</div>
<div class="synopsis-content">
    <div class="card">
        <div class="card-left">
            <div class="card-margin">
                <h2 class="card-title">
                    {{selectName ? selectName : '场馆列表'}}<span>首页 > 场馆列表 {{selectName ? '> ' + selectName : ''}}</span>
                </h2>
                <div class="hr"></div>

                <div class="card-content">
                    <form name="form">
                        <div class="form-header" style="position: relative">
                            <select name="meetingType" ng-model="params.meetingTypeId">
                                <option value='' disabled selected>会议类型</option>
                                <option ng-repeat="item in meetingType" value="{{item.id}}">
                                    {{item.dictName}}
                                </option>
                            </select>
                            <input name="number"
                                   ng-model="params.inNumber"
                                   placeholder="参会人数"
                                   style="margin-left: 20px"/>
                            <input id="start"
                                   placeholder="日期"
                                   name="beginTime"
                                   class="date laydate-icon"
                                   autocomplete="off"
                                   ng-click="start()"
                                   style="margin-left: 20px"/>
                            <select name="type"
                                    ng-model="params.type"
                                    style="margin-left: 20px"
                                    ng-if="!disabled">
                                <option value='' disabled selected>场次</option>
                                <option ng-repeat="item in reserveTimeType" value="{{item.dictValue}}">
                                    {{item.dictName}}
                                </option>
                            </select>
                            <!--<div style="width:85%;display: flex;align-items: center;justify-content: center">
                                <div class="hall-form">
                                    <div class="hall-form-group service">
                                        <label class="name"
                                               style="vertical-align: top;display: inline-block;position: relative;top: 8px;">其他需求</label>
                                        <div class="control" style="margin: -20px 20px 0 120px">
                                            <span ng-repeat="item in goodList.slice(0,2)"
                                                  style="display:inline-block;white-space:nowrap;line-height:40px;margin-left: -15px;margin-right: 20px"
                                            >
                                                <input type="checkbox"
                                                       class="checkbox"
                                                       name="{{item.name}}"
                                                       id="{{item.id}}"
                                                       ng-click="addGoods($event)"/>
                                                <span class="other"
                                                      style="position: relative;top: -12px">{{item.name}}</span>
                                            </span>
                                            <span ng-if="isShow" ng-click="show()"
                                                  style="cursor: pointer;color: #0d6aad;float:right;right: 10px;top:7px;position: relative;">显示更多</span>
                                            <span ng-if="!isShow"
                                                  ng-repeat="item in goodList.slice(2)"
                                                  style="display:inline-block;white-space:nowrap;line-height:40px;margin-left: -15px;margin-right: 20px"
                                            >
                                                <input type="checkbox"
                                                       class="checkbox"
                                                       name="{{item.name}}"
                                                       id="{{item.id}}"
                                                       ng-click="addGoods($event)"/>
                                                <span class="other"
                                                      style="position: relative;top: -12px">{{item.name}}</span>
                                            </span>
                                            <span ng-if="!isShow" ng-click="show()" style="cursor: pointer;color: #0d6aad;float:right;right: 10px;top:7px;position: relative;">收起</span>
                                        </div>

                                    </div>
                                </div>

                            </div>-->
                            <button type="submit"
                                    ng-click="submit(form)">搜索场馆
                            </button>

                        </div>
                    </form>

                    <div style="width: 100%">
                        <div class="hall" ng-repeat="item in hallList">
                            <div class="trailer_content">
                                <a href="#/hall/item/{{item.id}}">
                                    <div class="trailer_logo">
                                        <img ng-src="{{FILE_PREFIX_URL + item.logo}}"/>
                                        <div class="hall_word">
                                            <h2>{{item.name}}</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="ng-page" page="page.page" total="page.totalPages" ng-if="hallList"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-right" style="height: 380px !important;">
            <div class="card-margin">
                <div class="card-subtitle">
                    <img src="/images/index/synopsis.png" height="36" width="36"/>
                    <span>场馆列表</span>
                </div>
                <ul>
                    <li ng-repeat="item in topicList">
                        <div class="square"></div>
                        <a ng-click="getData(item.dictValue,item.dictName)"
                           style="cursor: pointer">{{item.dictName}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

