
<div class="index-content">
    <div class="owl-carousel">
        <div href="javascript:;"
             class="carousel-item item"
             style="height: 560px"
             ng-style="{'background-image': 'url(' + img.proimg + ')'}">
        </div>
    </div>
</div>
<div class="synopsis-content">
    <div class="card">
        <div class="card-left">
            <div class="card-margin">
                <h2 class="card-title">
                    {{accountType === 0 ? '个人信息' :
                    '单位信息'}}<span>首页 > 会员中心 > {{accountType === 0 ? '个人信息' : '单位信息'}}</span>
                </h2>
                <div class="hr"></div>

                <div class="card-content">
                    <div class="hall-margin" style="margin: 0 170px">
                        <form name="form">
                            <div class="hall-form">
                                <div class="hall-form-group unit">
                                    <label>登录账号：</label>
                                    <input readonly="readonly" class="readonly" value="{{user.account}}"/>
                                </div>

                                <div class="hall-form-group unit">
                                    <label>登录密码：</label>
                                    <input readonly="readonly" class="readonly" value="******"/>
                                    <span class="change">
                                        <a href="/service/auth/forget?type=1"
                                           style="color: inherit;text-decoration: none">修改<img
                                                src="/images/service/edit.png"/></a>
                                    </span>

                                </div>

                                <div class="hall-form-group unit" ng-if="accountType === 1">
                                    <label>企业名称：</label>
                                    <input id="companyName"
                                           readonly="readonly"
                                           class="readonly"
                                           ng-model="params.companyName"/>
                                    <span class="change {{hideCompanyName ? 'hideCompanyName' : ''}}"
                                          ng-click="modifyCompanyName()"
                                          ng-if="user.auditStatus === 0">修改<img src="/images/service/edit.png"/></span>
                                </div>

                                <div class="hall-form-group unit">
                                    <label>联系人姓名：</label>
                                    <input id="name"
                                           readonly="readonly"
                                           class="readonly"
                                           ng-model="params.name"/>
                                    <span class="change {{hideName ? 'hideName' : ''}}"
                                          ng-click="modifyName()"
                                          ng-if="user.auditStatus === 0">修改<img src="/images/service/edit.png"/></span>
                                </div>

                                <div class="hall-form-group unit">
                                    <label>联系电话：</label>
                                    <input id="phone"
                                           readonly="readonly"
                                           class="readonly"
                                           ng-model="params.phone"/>
                                    <span class="change {{hidePhone ? 'hidePhone' : ''}}"
                                          ng-click="modifyPhone()"
                                          ng-if="user.auditStatus === 0">修改<img src="/images/service/edit.png"/></span>
                                </div>

                                <div class="hall-form-group unit" ng-if="accountType === 0">
                                    <label>身份证号：</label>
                                    <input id="idCard"
                                           readonly="readonly"
                                           class="readonly"
                                           ng-model="params.idCard"/>
                                    <span class="change {{hideIdCard ? 'hideIdCard' : ''}}"
                                          ng-click="modifyIdCard()"
                                          ng-if="user.auditStatus === 0">修改<img src="/images/service/edit.png"/></span>
                                </div>

                                <div class="hall-form-group unit">
                                    <label>微信账号：</label>
                                    <input id="wechat"
                                           readonly="readonly"
                                           class="readonly"
                                           ng-model="params.wechat"/>
                                    <span class="change {{hideWechat ? 'hideWechat' : ''}}"
                                          ng-click="modifyWechat()"
                                          ng-if="user.auditStatus === 0">修改<img src="/images/service/edit.png"/></span>
                                </div>

                                <div style="display: flex;align-items: center;justify-content: center"
                                     ng-if="accountType === 1 && user.auditStatus === 1">
                                    <div class="license">
                                        <img ng-src="{{FILE_PREFIX_URL + user.licenseImg}}" ng-if="user.licenseImg"/>
                                    </div>
                                </div>

                                <div class="pure-g" ng-if="accountType === 1 && user.auditStatus === 0"
                                     style="display: flex;justify-content: center">
                                    <div class="pure-u-1-2">
                                        <input id="licenseFileId"
                                               name="licenseImg"
                                               class="block"
                                               ng-model="params.licenseImg"
                                               type="hidden">
                                        <div style="background-image: url('{{params.licenseImg | thumb}}')"
                                             class="dropzone"
                                             options="license.option"
                                             callbacks="license.callback"
                                             ng-dropzone></div>
                                    </div>
                                </div>

                                <div class="form-controls">
                                    <button type="submit"
                                            class="confirm"
                                            ng-click="submit(form)"
                                            ng-if="show">确认修改
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-right">
            <div class="card-margin">
                <div class="card-subtitle">
                    <img src="/images/service/unit.png" height="36" width="36"/>
                    <span>会员中心</span>
                </div>
                <ul>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/unit" class="active">{{accountType === 0 ? '个人信息' : '单位信息'}}</a></li>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/member/order/list">{{accountType === 0 ? '场馆登记记录' : '财务结算记录'}}</a></li>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/member/invoice/list">发票管理</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
