@import "variables";

body {
  min-width: 1200px;
  font-size: 12px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input {
  outline: none;
}

.link {
  color: $color-link;
}

.row {
  width: 1200px;
  margin: 0 auto;
}

.img-box {
  img {
    display: block;
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

em {
  font-style: normal;
  color: $color-primary;
}

.pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=text], .pure-form select, .pure-form textarea {
  padding: 13px 18px 13px 18px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  font-size: 16px;
  line-height: 22px !important;
}

.pure-form select {
  padding: 13px 18px 13px 18px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  font-size: 16px;
  line-height: 22px !important;
  height: 50px;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: 30px;

  label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
    font-size: 16px;
  }
}

.pure-form .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: 16px;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
  font-size: 16px;
}

.pure-button {
  font-size: 16px;
}

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: unset;
}


