.bt {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.br {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.bb {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bl {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
