@import "../sass/variables";
.submit {
  margin: 60px 0;
  text-align: right;
  .submit-button {
    display: inline-block;
    padding: 12px 68px;
    font-size: 16px;
    line-height: 1;
    background-color: $color-primary;
    color: $color-empty;
    border-radius: 4px;
    border: 1px solid $color-primary;
    text-decoration: none;
    &.disabled {
      opacity: 0.5;
    }
  }
}
