@import "variables";

.pure-control-group {
  position: relative;

  .pure-form-message {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 0 .25rem !important;
    color: $color-primary;
  }
}

input.ng-invalid:focus {
  color: $color-primary;
  border-color: $color-primary;
}
