@import "variables";

.section {
  .section-title {
    text-align: center;

    img {
      display: block;
      margin: 100px auto 0 auto;
    }

    h2 {
      font-size: 28px;
      height: 40px;
      line-height: 40px;
      font-weight: 500;
      color: $color-deep;
      margin: 8px 0 0 0;
    }

    p {
      margin: 8px 0 0 0;
      font-size: 12px;
      color: $color-medium;
    }
  }

  .section-content {
    margin-top: 24px;
  }
}
