// Greyscale
$color-empty: white;
$color-raw: #f8f8f8;
$color-raw-alt: #f2f2f2;
$color-rare: #eee;
$color-medium-rare: #ccc;
$color-medium: #aaa;
$color-medium-well: #666;
$color-well: #555;
$color-full: #333;
$color-deep: #000;

// Core
$color-primary: #961522; // blood orange
$color-secondary: $color-well; //
$color-tertiary: $color-medium-well; //
$color-complementary: $color-deep; //
$color-link: #3399FF;
// Social Colors
$color-info: #46c8f5;

// Alert
$color-warn: #ff6622; //error, alert
