<nav ng-if="appData" class="{{class}}">
  <div class="row">
    <div class="menu">
      <ul>
        <li ng-repeat="item in appData.menu" ng-if="!item.disable" ng-mouseenter="enter($event)" ng-mouseleave="leave($event)">
          <a href="{{item.link}}"
             class="nav-link {{item.link === '#' + path ? 'selected' : ''}}">{{item.text}}</a>
          <div ng-if="item.children && item.children.length > 0" class="sub-menu" style="transform: translate3d(-50%, 0, 0);">
            <ul>
              <li ng-repeat="children in item.children">
                <a href="{{children.link}}" class="nav-link">{{children.text}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <!--<span class="line" [ngStyle]="{'left':lineLeft + 'px','width':lineWidth + 'px'}"></span>-->
    </div>
    <div class="toolbar">
      <ul>
      </ul>
    </div>
  </div>
</nav>
