<div class="page-goods-list">
    <div class="ng-header header-shadow"></div>
    <div class="ng-breadcrumb"></div>
    <div class="row">
        <div class="search-bar">
            <div class="pure-g">
                <div class="pure-u-3-4">
                    <ul class="tags">
                        <li class="tag label">分类：</li>
                        <li ng-click="setTypeId('')" class="tag {{params.productTypeId === '' ? 'curr' : ''}}">不限</li>
                        <li ng-click="setTypeId(type.id)" ng-repeat="type in types" class="tag {{type.id === params.productTypeId ? 'curr' : ''}}">{{type.name}}</li>
                    </ul>
                </div>
                <div class="pure-u-1-4">
                    <div class="search-form">
                        <div class="search-form-control">
                            <input name="key" ng-model="searchKey" ng-enter="search(searchKey)" placeholder="请输入关键词">
                        </div>
                        <div ng-click="search(searchKey)" class="search-form-button"><i class="icons icons-search"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-result">
            <div class="search-result-statistics">查询结果共 <em>{{page.total}}</em> 个项目</div>
            <div class="search-result-data">
                <ul class="result-list pure-g">
                    <li ng-repeat="item in items" class="result-item pure-u-1-4">
                        <a href="#/goods/item/{{item.gpId}}" class="result-item-box">
                            <div class="result-item-img">
                                <img ng-if="item.logo" ng-src="{{FILE_PREFIX_URL + item.logo}}">
                            </div>
                            <div class="result-item-txt">
                                <div class="result-item-label">{{item.name}}</div>
                                <div class="result-item-detail pure-g">
                                    <div class="result-item-detail-price pure-u-1-2"><em>￥{{item.price}}</em></div>
                                    <div class="result-item-detail-like pure-u-1-2">
                                        <img ng-if="!item.isCollect" ng-click="like($event,item)" src="/images/goods/like.png">
                                        <img ng-if="item.isCollect" ng-click="like($event,item)" src="/images/goods/like_hover.png">
                                    </div>
                                    <!--<div class="result-item-detail-count pure-u-1-2">2838人付款</div>-->
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ng-page" page="page.page" total="page.totalPages"></div>
        </div>
    </div>
    <div class="ng-footer"></div>
    <div class="ng-top"></div>
</div>
