

<div class="index-content">
    <div class="owl-carousel">
        <div href="javascript:;"
             class="carousel-item item"
             style="height: 560px"
             ng-style="{'background-image': 'url(' + img.proimg + ')'}">
        </div>
    </div>
</div>
<div class="synopsis-content">
    <div class="card">
        <div class="card-left">
            <div class="card-margin">
                <h2 class="card-title">
                    活动申请详情<span>首页 > 科技普及 > 活动申请详情</span>
                </h2>
                <div class="hr"></div>
                <div class="card-content">
                    <div class="hall-margin">
                        <form>
                            <div class="hall-form" ng-if="activityForm && activityType && openCeremony">
                                <div class="hall-form-group item">
                                    <label>活动主题：</label>
                                    <span style="font-weight: bold">{{detail.title}}</span>
                                </div>

                                <div class="hall-form-group item">
                                    <label>活动时间：</label>
                                    <span>{{detail.activityBeginTime | date : 'yyyy-MM-dd'}} 至 {{detail.activityEndTime | date : 'yyyy-MM-dd'}}</span>
                                </div>

                                <div class="hall-form-group item">
                                    <label>活动地点：</label>
                                    <span>{{detail.address}}</span>
                                </div>

                                <div class="hall-form-group item">
                                    <label>申请活动内容：</label>
                                    <span>{{detail.content}}</span>
                                </div>

                                <div class="hall-form-group item">
                                    <label>活动形式：</label>
                                    <span>{{getFormName(detail.form)}}</span>
                                </div>

                                <div class="hall-form-group item">
                                    <label>活动类型：</label>
                                    <span>{{getActivityType(detail.activityType)}}</span>
                                </div>

                                <div class="hall-form-group item">
                                    <label>开幕仪式：</label>
                                    <span>{{getOpenCeremony(detail.openCeremony)}}</span>
                                </div>

                                <div class="hall-form-group item">
                                    <label>活动方案：</label>
                                    <span>{{detail.plan}}</span>
                                </div>

                                <div class="hall-form-group item" ng-if="detail.authBeginTime && detail.authEndTime">
                                    <label>批准开展时间：</label>
                                    <span>{{detail.authBeginTime | date : 'yyyy-MM-dd'}} 至 {{detail.authEndTime | date : 'yyyy-MM-dd'}}</span>
                                </div>

                                <div class="hall-form-group item" ng-if="detail.opinion">
                                    <label>审批意见：</label>
                                    <div style="width: 80%" ng-bind-html="detail.opinion | parseHTML">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-right">
            <div class="card-margin">
                <div class="card-subtitle">
                    <img src="/images/service/unit.png" height="36" width="36"/>
                    <span>科技普及</span>
                </div>
                <ul>
                    <li>
                        <div class="square"></div>
                        <a href="#/universal/news">科普资讯</a></li>
                    <li>
                        <div class="square"></div>
                        <a href="#/universal/manage">活动管理办法</a></li>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/member/apply/record">活动申请</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

