@import "../../../sass/variables";

.ng-pages {
  text-align: right;
  font-size: 0;
  margin: 10px;

  a, span {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 5px;
    color: #999;
    border: 1px solid #ccc;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      border: 1px solid #000;
      color: #000;
    }
    &.curr {
      border: 1px solid #1c76a2;
      color: #1c76a2;
    }
  }

  a {
    text-decoration: none;
  }

  span {
    font-size: 14px;
  }
}
