<div class="index-content">
    <div class="owl-carousel">
        <div href="javascript:;"
             class="carousel-item item"
             style="height: 560px"
             ng-style="{'background-image': 'url(' + img.proimg + ')'}">
        </div>
    </div>
</div>
<div class="synopsis-content">
    <div class="card">
        <div class="card-left" style="padding-bottom: 20px">
            <div class="card-margin">
                <h2 class="card-title" ng-repeat="item in brandList" ng-if="item.id === id">
                    {{item.name}}<span>首页 >  科技普及 > {{item.name}}</span>
                </h2>
                <div class="hr"></div>

                <div style="margin: 0 20px">
                    <div class="brand-title">
                        <div class="title-left"></div>
                        <h2 ng-repeat="item in brandList" ng-if="item.id === id">{{item.name}} > 介绍</h2>
                    </div>

                    <article ng-repeat="item in brandList" ng-if="item.id === id">
                        {{item.content}}
                    </article>

                    <div class="brand-title">
                        <div class="title-left"></div>
                        <h2 ng-repeat="item in brandList" ng-if="item.id === id">{{item.name}} > 展品推荐</h2>
                    </div>

                    <div class="brand-suggest">
                        <a ng-repeat="item in exhibitsList" href="#/universal/brand/item/{{item.id}}"
                           style="text-decoration: none;color: inherit">
                            <div>
                                <div class="list">
                                    <img ng-src="{{FILE_PREFIX_URL+item.exhibiitsImg}}"/>
                                    <h2>{{item.name}}</h2>
                                </div>

                            </div>
                        </a>

                    </div>

                    <div class="brand-title">
                        <div class="title-left"></div>
                        <h2 ng-repeat="item in brandList" ng-if="item.id === id">{{item.name}}管理办法 > 附件</h2>
                    </div>

                    <img src="/images/icon_doc.png" width="50" height="50" style="position: relative;top: 22px;margin-right: 5px;"/><a ng-repeat="item in brandList"
                       ng-if="item.id === id"
                       href="{{FILE_PREFIX_URL+item.brandFile}}"
                       target="_blank"
                       style="font-size: 18px;position: relative;top: 3px;color: #39f">附件</a>

                </div>

            </div>
        </div>
        <div class="card-right" style="height: 260px!important;">
            <div class="card-margin">
                <div class="card-subtitle">
                    <img src="/images/index/synopsis.png" height="36" width="36"/>
                    <span>科技普及</span>
                </div>
                <ul>
                    <li>
                        <div class="square"></div>
                        <a href="#/universal/news">科普资讯</a></li>
                    <li ng-repeat="item in brandList">
                        <div class="square"></div>
                        <a href="#/universal/brand/{{item.id}}"
                           ng-class="item.id === id ? 'active' : ''">{{item.name}}</a></li>
                    <li>
                        <div class="square"></div>
                        <a href="#/service/member/apply/record">活动申请</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
