.trailer_word{
  h2{
    .booking{
      float: right;
      border-radius: 4px;
      background: #67ad37;
      color: #fff !important;
      padding: 5px 28px;
      margin-top: 0 !important;
    }
  }
}