@import "../../../../../sass/variables";

.main-container {
  &.order-content.order-item-content {
    margin-bottom: 30px;
    h3 {
      margin: 10px 0 20px;
    }

    .order-info {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-right: 1px solid $color-border;
      }
      li {
        margin: 10px 0;
        padding: 5px 0;
        line-height: 1;
        font-size: 14px;
        color: #999;
        span {
          color: #333;
        }
      }
    }
    .order-status {
      padding-left: 30px;
      .content {
        color: #6AB336;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .order-process {
      padding: 20px 10px;
      .order-process-content {
        height: 40px;
        line-height: 40px;
        background-color: $color-rare;
        border-radius: 20px;
        font-size: 0;
        .order-process-item {
          width: 14.286%;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          &.processing {
            background-color: #6AB336;
            color: $color-empty;
            border-radius: 20px;
            &.processed {
              border-radius: 0;
              background-color: #ededed;
              color: #000;
            }
          }
        }
      }
    }
  }
}

.file-content{
  .link{
    margin: 10px 10px 10px 0;
  }
}
