@import "../../../sass/variables";

.owl-carousel {
  .carousel-item {
    height: 500px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;

    .banner-content {
      color: $color-empty;
      padding: 120px 0 0 100px;

      h2 {
        font-size: 34px;
        margin: 0 0 20px;

        em, span {
          display: block;
          color: #000;
        }
      }

      p {
        font-size: 16px;
        font-weight: 400;
        width: 420px;
      }

      a {
        width: 120px;
        height: 40px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 1);
        display: block;
        text-align: center;
        line-height: 38px;
        color: $color-empty;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        margin-top: 40px;
      }
    }
  }

  .owl-buttons {
    display: none;
  }

  .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;

    button {
      display: inline-block;

      span {
        border-radius: 0;
        width: 30px;
        height: 3px;
        margin: 5px;
        display: block;
        background-color: $color-empty;
        opacity: 0.5;
      }

      &.active span {
        background-color: $color-empty;
        opacity: 1;
      }
    }
  }
}
