<div class="owl-carousel">
    <div ng-repeat="image in images"
         href="javascript:;"
         ng-if="!url"
         class="carousel-item item"
         ng-style="{'background-image': 'url(' + image.proimg + ')'}">
        <h3 ng-if="items">{{image.title}}</h3>
    </div>
    <a ng-if="url" ng-repeat="image in images" href="#/hall/item/{{image.busId}}">
        <div href="javascript:;"
             class="carousel-item item"
             ng-style="{'background-image': 'url(' + image.proimg + ')'}">
            <h3 ng-if="items">{{image.title}}</h3>
        </div>
    </a>
</div>
