.contact{
  color: #333;
  margin: 0 40px;
  h3{
    font-size: 20px;
  }
  p{
    font-size: 14px;
    margin: 10px 0;
  }
  img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}