@import "../../../../../sass/variables";

.type-banner {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;

  .banner-content {
    color: $color-full;
    padding: 150px 0 0 30px;

    h2 {
      font-size: 48px;
      margin: 0 0 40px;
      color: $color-empty;
      font-weight: 600;
      line-height: 1;
    }

    p {
      font-size: 40px;
      font-weight: 600;
      color: $color-empty;
      line-height: 1;
    }

    a {
      font-size: 30px;
      color: $color-empty;
      text-decoration: none;
      line-height: 1;
      margin-top: 12px;
      display: block;
      font-weight: 600;
      em {
        color: #008AFF;
      }
    }
  }
}

.page-type {
  position: relative;
  .search-form {
    font-size: 0;
    padding: 36px 220px 36px 80px;
    border-radius: 4px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

    .search-form-control {
      padding: 0 40px 0 15px;
      display: block;
      height: 48px;
      border: 1px solid $color-primary;

      input {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        font-size: 14px;
        height: 48px;
      }
    }

    .search-form-button {
      position: absolute;
      right: 80px;
      width: 140px;
      height: 48px;
      top: 36px;
      text-align: center;
      border: 1px solid $color-primary;
      color: $color-empty;
      background-color: $color-primary;
      font-size: 16px;
      line-height: 48px;

      i {
        display: inline-block;
      }
    }
  }

  .section-content-item {
    padding: 30px;
    margin: 16px 8px;
    background-image: url("/images/type/item-bg.png");
    background-size: 100% 100%;
    height: 160px;
    position: relative;

    h2 {
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }

    p {
      font-size: 20px;
      color: $color-primary;
      font-weight: 600;
      line-height: 1;
      margin-top: 12px;
    }

    a {
      font-size: 14px;
      margin-top: 40px;
      line-height: 1;
      color: #999;
      display: block;
      text-decoration: none;
    }

    img {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 64px;
      display: block;
    }

    &.big-red, &.big-blue {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      height: 336px;

      h2 {
        color: $color-empty;
        font-size: 20px;
      }

      p {
        color: $color-empty;
      }

      a {
        color: $color-empty;
        display: inline-block;
        height: 30px;
        line-height: 28px;
        border: 1px solid $color-empty;
        padding: 0 12px;
      }
    }

    &.big-red {
      background-image: url("/images/type/item-red-bg.png");
    }

    &.big-blue {
      background-image: url("/images/type/item-blue-bg.png");
    }
  }

  .section-search {
    position: absolute;
    top: 440px;
    left: 50%;
    margin-left: -600px;
  }

  .section-hot {
    margin: 0 -8px;
  }

  .section-cloud {
    margin: 100px -8px 0;
  }

  .section-base {
    margin: 100px -8px 0;
    .section-content {
      .section-content-title {
        font-size: 20px;
        line-height: 1;
        margin: 0 8px 14px;
      }
    }
    .section-content-item {
      background-image: none;
      padding: 0;
      height: auto;
      .section-content-item-img {
        position: relative;
        h2 {
          position: absolute;
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          color: $color-empty;
          top: 30px;
          left: 30px;
          right: 30px;
          width: auto;
          bottom: auto;
        }
        img {
          display: block;
          position: static;
          width: 100%;
          height: auto;
        }
      }
      .section-content-item-txt {
        padding: 16px;
        background-color: #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-width: 0 1px 1px 1px;
        border-color: #ededed;
        border-style: solid;
        .section-content-item-label,.section-content-item-price {
          font-size: 14px;
          line-height: 1;
          font-weight: 500;
        }
        .section-content-item-price {
          margin-top: 12px;
        }
      }
    }
  }

  .row-hot {
    padding: 160px 0 110px;
    background-image: url("/images/type/row-hot-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
