<div class="page-member">
    <div class="ng-header header-shadow"></div>
    <div class="member-wrap row">
        <div class="pure-g">
            <div class="pure-u-1-5">
                <div key="key" class="ng-sidebar"></div>
            </div>
            <div class="pure-u-4-5">
                <div class="order-content main-container">
                    <div class="title pure-g">
                        <div class="pure-u-1-2"><h2 class="title">我的订单</h2></div>
                        <div class="pure-u-1-2">
                            <div class="search-form">
                                <div class="search-form-control">
                                    <input name="key" ng-model="params.orderNo" placeholder="请输入关键词">
                                </div>
                                <div ng-click="search(searchKey)" class="search-form-button"><i class="icons icons-search"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabbar">
                        <ul class="tabbar-nav-list">
                            <li ng-click="setTab(0)" class="tabbar-nav-item {{params.status === 0 ? 'selected' : ''}}">全部订单</li>
                            <li ng-click="setTab(1)" class="tabbar-nav-item {{params.status === 1 ? 'selected' : ''}}">待付款</li>
                            <li ng-click="setTab(2)" class="tabbar-nav-item {{params.status === 2 ? 'selected' : ''}}">已支付</li>
                        </ul>
                    </div>
                    <table class="pure-table pure-table-hd pure-table-horizontal">
                        <thead>
                        <tr>
                            <th class="td-img">时间</th>
                            <th class="td-product">订单详情</th>
                            <th class="td-price">单价</th>
                            <th class="td-num">数量</th>
                            <th class="td-total">金额</th>
                            <th class="td-subject">企业主体</th>
                            <th class="td-type">服务状态</th>
                            <th class="td-action">操作</th>
                        </tr>
                        </thead>
                    </table>
                    <table ng-if="orders.length > 0" ng-repeat="order in orders" class="pure-table pure-table-bd pure-table-horizontal">
                        <thead>
                        <tr>
                            <th colspan="2">{{order.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</th>
                            <th colspan="7">订单号：{{order.orderNo}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-img">
                                <img ng-src="{{FILE_PREFIX_URL + order.goodsLogo}}">
                            </td>
                            <td class="td-product">
                                <p class="name">{{order.goodsName}}</p>
                                <p class="spec">{{order.specName}}</p>
                            </td>
                            <td class="td-price">￥{{order.price}}</td>
                            <td class="td-num">{{order.count}}</td>
                            <td class="td-total">￥{{order.totalAmount}}</td>
                            <td class="td-subject">{{order.custName ? order.custName : ''}}</td>
                            <td class="td-type">
                                <span ng-if="order.status === 0">订单已取消</span>
                                <span ng-if="order.status === 1">订单待确认</span>
                                <span ng-if="order.status === 2">订单待付款</span>
                                <span ng-if="order.status === 3">订单已支付，等待财务确认</span>
                                <span ng-if="order.status === 4">服务中</span>
                                <span ng-if="order.status === 5">待回访</span>
                                <span ng-if="order.status === 6">订单退款审核中</span>
                                <span ng-if="order.status === 7">订单退款中</span>
                                <span ng-if="order.status === 8">订单已完成</span>
                                <span ng-if="order.status === 9">退款完成</span>
                            </td>
                            <td class="td-action">
                                <a href="{{'/member/order/item/' + order.id}}">详情</a>
                                <a ng-if="order.status === 1" href="{{'/checkout/' + order.ogId + '?id=' + order.orderNo}}">去支付</a>
                                <a ng-if="order.status === 4 || order.status === 5" ng-click="return(order.id)" href="javascript:;">申请退款</a>
                                <a ng-if="order.attchFileId" ng-click="openFile(order.attchFileId)" href="javascript:;">查看合同</a>
                                <a ng-if="order.receiptFileId" ng-click="openFile(order.receiptFileId)" href="javascript:;">查看发票</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="orders.length < 1" class="ng-empty"></div>
                    <div ng-if="orders.length > 0" class="ng-page" page="page.page" total="page.totalPages"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-footer"></div>
</div>

<div ng-if="returnShow">
    <div class="overlay" style="display: block; opacity: 0.6;"></div>
    <div class="modal-box-blurb">
        <div class="modal-box-wrapper" style="min-height: 140px;">
            <div class="modal-box-header">
                <div ng-click="close()" class="modal-close"><a class="modal-close-icon"></a></div>
                <h5>退款申请</h5>
            </div>
            <div class="modal-box-content" style="text-align: left">
                <form name="form" class="pure-form pure-form-stacked" novalidate>
                    <input id="key" name="key" ng-model="selected.key" type="hidden">
                    <input id="orderId" name="orderId" ng-model="selected.orderId" type="hidden">
                    <textarea id="remark" name="remark" ng-model="selected.remark"
                              type="text" placeholder="请填写退款原因*" class="pure-u-1" required></textarea>
                    <span ng-if="loading && form.remark.$invalid"
                          class="pure-form-message" style="color: red">请填写退款原因</span>
                    <div class="modal-box-footer">
                        <input type="button" class="confirm-button" name="save"
                               ng-click="submit(form)" value="确认退款">
                        <input type="button" class="cancel-button" ng-click="close()" value="取消">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
