<div ng-if="dialog.show">
    <div class="overlay" style="display: block; opacity: 0.6;"></div>
    <div class="modal-box-blurb">
        <div class="modal-box-wrapper" style="min-height: 140px;">
            <div ng-if="dialog.title" class="modal-box-header">
                <div ng-click="close()" class="modal-close"><a ng-click="dialog.show = false;" class="modal-close-icon"></a></div>
                <h5>{{dialog.title}}</h5>
            </div>
            <div class="modal-box-content">
                <div>{{dialog.body}}</div>
            </div>
            <div class="modal-box-footer">
                <input ng-if="dialog.btnTxt[0]" type="button" class="confirm-button" name="save"
                       ng-click="dialog.confirm()" value="{{dialog.btnTxt[0]}}">
                <input type="button" ng-if="dialog.btnTxt[1]" class="cancel-button" ng-click="dialog.cancel()" value="{{dialog.btnTxt[1]}}">
            </div>
        </div>
    </div>
</div>
