@import "../../../sass/variables";

.footer {
  width: 100%;
  em{
    font-style: normal;
    color: #ccc;
    margin: -2px 8px 0;
  }
  .footer_top{
    font-size: 12px;
    color: #ccc;
    background: #1a6f97;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_content{
    background: #1c76a2;
    padding: 0 12%;
    height: 203px;
    display: flex;
    flex-direction: row;
    .content_left{
      width: 55%;

      &:after{
        content: '';
        border-right: 1px solid #ccc;
        position: absolute;
        width: 1px;
        left: 51.5%;
        height: 132px;
        margin-top: -126px;
      }

      h3{
        padding: 20px 0 5px;
        font-weight: normal;
        color: #ccc;
        font-size: 12px;
        em{
          position: relative;
          top: -1px;
        }
        .num{
          background: #fff;
          padding: 10px 0;
          margin-left: 20px;
          em{
            padding: 2px 4px;
            background: #000;
            font-size: 20px;
            color: #fff;
            font-weight: bold;
            border-radius: 4px;
            position: relative;
            top: 2px;
            margin: 0 2px;
          }
        }
      }
    }

    .code{
      width: 140px;
      height: 132px;
      margin: 56px 80px 0;
      img{
        width: 100%;
        height: auto;
      }
    }
  }

  .footer-content {
    padding: 80px 0;

    .footer-content-item {
      h3 {
        font-size: 16px;
        position: relative;
        padding: 0 0 10px;
        margin: 0;

        &:after {
          content: '';
          position: absolute;
          width: 2.5em;
          left: 0;
          bottom: 0;
          height: 1px;
          border-bottom: 1px solid $color-empty;
        }
      }

      ul {
        margin-top: 20px;

        li {
          font-size: 14px;
          line-height: 34px;
        }
      }
    }
  }

  .footer-copyright {
    line-height: 18px;
    font-size: 12px;
    padding: 20px 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 3%;
      width: 94%;
      border-top: 1px solid $color-medium-well;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .contact-us {
    width: 96px;
    height: 96px;
    background: rgba(115, 15, 25, 1);
    border-radius: 4px;
    text-decoration: none;
    display: block;
    color: $color-empty;
    overflow: hidden;

    img {
      display: block;
      width: 24px;
      height: 24px;
      margin: 24px auto 5px auto;
    }

    span {
      display: block;
      text-align: center;
      font-size: 14px;
    }
  }
}

