<div class="page-member">
    <div class="ng-header header-shadow"></div>
    <div class="member-wrap row">
        <div class="pure-g">
            <div class="pure-u-1-5">
                <div key="key" class="ng-sidebar"></div>
            </div>
            <div class="pure-u-4-5">
                <div class="setting-content main-container">
                    <div class="title pure-g">
                        <div class="pure-u-1-2"><h2 class="title">账号设置</h2></div>
                        <div class="pure-u-1-2">
                            <!--<div class="search-form">
                                <div class="search-form-control">
                                    <input name="key" ng-model="params.orderNo" placeholder="请输入关键词">
                                </div>
                                <div ng-click="search(searchKey)" class="search-form-button"><i class="icons icons-search"></i></div>
                            </div>-->
                        </div>
                    </div>
                    <!--<div class="tabbar">
                        <ul class="tabbar-nav-list">
                            <li ng-click="setType('mobile')"
                                class="tabbar-nav-item {{company.id === id ? 'selected' : ''}}">修改手机号
                            </li>
                            <li ng-click="setType('avatar')" class="tabbar-nav-item link {{id === '' ? 'selected' : ''}}">修改用户名/头像
                            </li>
                        </ul>
                    </div>
                    <form name="userForm" class="pure-form pure-form-stacked" novalidate>

                    </form>-->
                    <form name="form" class="pure-form pure-form-stacked" novalidate>
                        <fieldset>
                            <legend>修改手机号码</legend>

                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <label><em>*</em>手机号</label>
                                    <input id="loginid" name="loginid" ng-model="params.loginid"
                                           type="text" placeholder="请填写手机号码" class="pure-u-23-24" required>
                                </div>

                                <div class="pure-u-1-2"></div>
                                <div class="pure-u-1-2" style="position: relative">
                                    <label><em>*</em>验证码</label>
                                    <input id="validCode" name="validCode" ng-model="params.validCode" type="text" placeholder="请填写验证码" class="pure-u-17-24" required>
                                    <div id="sendValidCode" ng-click="sendValidCode(form)" class="form-control-code pure-u-6-24">{{activeText}}</div>
                                </div>
                            </div>

                        </fieldset>

                        <div class="submit">
                            <a href="javascript:;" ng-click="submit(form)"
                               ng-class="{true:'disabled',false:''}[form.$invalid || loading]" class="submit-button">确认修改</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-footer"></div>
</div>
<div id="popup-captcha"></div>
