.hall-form-group {
  .select {
    padding: 14px 190px 14px 10px !important;
  }

  .name {
    margin-right: 40px;
    font-size: 16px !important;
  }

  .other {
    font-size: 16px;
  }

  .activity {
    cursor: pointer;
    width: 280px !important;
    height: 50px !important;
  }
  span.show {
    display: block;
  }

}

