

<div class="index-content">
    <div class="owl-carousel">
        <div href="javascript:;"
             class="carousel-item item"
             style="height: 560px"
             ng-style="{'background-image': 'url(' + img.proimg + ')'}">
        </div>
    </div>
</div>
<div class="synopsis-content">
    <div class="card">
        <div class="card-left" style="width: 100%">
            <div class="card-margin">
                <h2 class="item-title" style="margin: 30px 0">场馆预定</h2>
                <div class="card-content">
                    <div class="hall-margin">
                        <form name="form" novalidate>
                            <div style="width:100%;display: flex;align-items: center;justify-content: center">
                                <div class="hall-form">
                                    <div class="hall-form-group service">
                                        <label class="name">会议类型</label>
                                        <select name="type" class="select" ng-model="params.meetingTypeId">
                                            <option value='' disabled selected>请选择会议类型</option>
                                            <option ng-repeat="item in meetingType" value="{{item.id}}">
                                                {{item.dictName}}
                                            </option>
                                        </select>
                                    </div>


                                    <div class="hall-form-group service">
                                        <label class="name">活动时间</label>
                                        <input id="startdatepicker"
                                               name="beginTime"
                                               class="activity laydate-icon"
                                               placeholder="开始时间"
                                               autocomplete="off"
                                               style="margin-left: -4px"
                                               ng-click="begin()"/><span>至</span>
                                        <input id="enddatepicker"
                                               name="endTime"
                                               placeholder="结束时间"
                                               autocomplete="off"
                                               class="activity laydate-icon"
                                               ng-click="end()"/>
                                        <!--<select style="padding: 14px 30px 14px 10px;margin-left: 20px">
                                            <option value="全天">全天</option>
                                            <option value="上午">上午</option>
                                            <option value="下午">下午</option>
                                        </select>-->
                                    </div>

                                    <div class="hall-form-group service">
                                        <label class="name">参会人数</label>
                                        <input style="height: 40px;margin-left: -4px;"
                                               name="attendance"
                                               ng-model="params.attendance"/>
                                    </div>

                                    <div class="hall-form-group service">
                                        <label class="name">费用预算</label>
                                        <input style="height: 40px;margin-left: -4px;"
                                               name="budget"
                                               ng-model="params.budget"/>
                                    </div>

                                    <div class="hall-form-group service">
                                        <label class="name" style="vertical-align: top;display: inline-block">其他需求</label>
                                        <div class="control" style="margin: 0 20px 0 160px">
                                            <span ng-repeat="item in goodList.slice(0,5)"
                                                  style="white-space:nowrap;line-height:40px;margin-left: -15px;"
                                                  >
                                                <input type="checkbox"
                                                       class="checkbox"
                                                       name="{{item.name}}"
                                                       id="{{item.id}}"
                                                       ng-click="addGoods($event)"/>
                                                <span class="other">{{item.name}}</span>
                                            </span>
                                            <span ng-if="show" ng-click="show()" style="cursor: pointer;color: #0d6aad;float:right;right: 130px;position: relative;">显示更多</span>
                                            <span ng-if="!show"
                                                  ng-repeat="item in goodList.slice(5)"
                                                  style="white-space:nowrap;line-height:40px;margin-left: -15px;"
                                            >
                                                <input type="checkbox"
                                                       class="checkbox"
                                                       name="{{item.name}}"
                                                       id="{{item.id}}"
                                                       ng-click="addGoods($event)"/>
                                                <span class="other">{{item.name}}</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-controls" style="margin-top: 80px">
                                        <button type="submit" ng-click="submit(form)">提交需求</button>
                                    </div>
                                </div>
                            </div>



                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
