<div class="ng-header header-shadow"></div>
<div class="ng-breadcrumb"></div>

<div class="row">
    <div class="goods-intro pure-g">
        <div class="preview-wrap pure-u-1-3">
            <div class="preview-img">
                <img ng-if="poster" ng-src="{{poster}}">
            </div>
        </div>
        <div class="info-wrap pure-u-2-3">
            <form name="form" class="sku-info">
                <div class="sku-name sku-attr">{{info.name}}</div>
                <div class="sku-price sku-attr">
                    <div class="dt">价格</div>
                    <div class="dd" ng-bind-html="tempOrder.price * tempOrder.quantity | price"></div>
                </div>
                <div ng-repeat="spec in specs" class="sku-choose sku-attr sku-choose">
                    <div class="dt" ng-class="{'dt-long' : spec.fieldName.length > 5}">{{spec.fieldName}}</div>
                    <div class="dd">
                        <ul>
                            <li attr_id="{{field.fieldId + ':' + field.fieldValue}}"
                                ng-repeat="field in spec.specsFields" ng-click="selected(spec,field,$event)" class="sku"
                                ng-class="{'selected':field.selected}">{{field.fieldValueName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sku-quantity sku-attr">
                    <div class="dt">数量</div>
                    <div class="dd">
                        <span ng-click="reduce()" class="reduce"
                              ng-class="{'disabled' : tempOrder.quantity <= 1}">-</span>
                        <span class="quantity">
                          <input name="quantity" ng-model="tempOrder.quantity" type="text">
                        </span>
                        <span ng-click="plus()" class="plus">+</span>
                    </div>
                </div>
            </form>
            <div class="choose-btns">
                <a ng-click="buy(disabled)" class="btn btn-default" ng-class="{'disabled' : disabled}"
                   href="javascript:;">立即购买</a>
                <a ng-click="like()" class="btn btn-primary" ng-class="{'disabled' : disabled}" href="javascript:;">加入收藏</a>
            </div>
        </div>
    </div>
    <div class="goods-body pure-g">
        <div class="main pure-u-4-5">
            <div class="content">
                <div class="content-hd">
                    <ul class="tabs">
                        <li class="tab curr">服务详情</li>
                    </ul>
                    <span class="bt"></span>
                    <span class="br"></span>
                    <span class="bb"></span>
                    <span class="bl"></span>
                </div>
                <div ng-if="info.detail" class="content-bd" ng-bind-html="info.detail | detail"></div>
            </div>
        </div>
        <div class="side pure-u-1-5">
            <div class="content">
                <div class="content-hd">
                    猜你喜欢
                </div>
                <div class="content-bd">
                    <ul>
                        <li>
                            <a href="/goods/item/103" class="img-box">
                                <img src="/images/goods/1.png">
                            </a>
                            <div class="txt-box">
                                <div class="name"><a href="/goods/item/103">知产云</a></div>
                                <div class="price">¥ 288000</div>
                            </div>
                        </li>
                        <li>
                            <a href="/goods/item/120" class="img-box">
                                <img src="/images/goods/2.png">
                            </a>
                            <div class="txt-box">
                                <div class="name"><a href="/goods/item/120">创新宝</a></div>
                                <div class="price">¥ 500000</div>
                            </div>
                        </li>
                        <li>
                            <a href="/goods/item/44" class="img-box">
                                <img src="/images/goods/3.png">
                            </a>
                            <div class="txt-box">
                                <div class="name"><a href="/goods/item/44">知产通</a></div>
                                <div class="price">¥ 5800</div>
                            </div>
                        </li>
                        <li>
                            <a href="/goods/item/47" class="img-box">
                                <img src="/images/goods/4.png">
                            </a>
                            <div class="txt-box">
                                <div class="name"><a href="/goods/item/47">科创宝</a></div>
                                <div class="price">¥ 58000</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ng-footer"></div>
<div class="ng-top"></div>
